body {
    font-family: Lato;
    font-size: 19px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
    color: #08c;
}

h1,
h2 {
    margin-bottom: 0;
    font-size: 50px;
}

a {
    transition: color .2s ease-in-out;
}

h1[id] {
    margin-bottom: .4em;
}

header .title {
    display: block;
    font-size: 80px;
    margin-top: 50px;
    line-height: 1;
    font-weight: 300;
    margin-bottom: 0;
    text-align: center;
}

header .title:hover {
    text-decoration: none;
}

header .subtitle {
    display: block;
    font-size: 16px;
    margin-bottom: 50px;
    font-style: italic;
    text-align: center;
}

h4 small {
    display: block;
    font-size: 60%;
    color: #888;
}

article header h1 {
    margin-bottom: .2em;
}

article header h1 a:hover {
    text-decoration: none;
}

article header .date {
    font-weight: 300;
    color: #9a9a9a;
    margin-bottom: 1em;
    margin-top: 0;
    font-size: 22px;
}

p {
    line-height: 1.5;
    margin: 0 0 1em;
}

img {
    display: block;
    margin: 0 auto;
}

header,
.mainContent {
    max-width: 900px;
}

.navbar .container-fluid {
    padding: 0;
}

.navbar-inner {
    padding-right: 0;
    padding-left: 0;
    background-image: none;
    background-color: transparent;
    border: 0;
    box-shadow: none;
    border-radius: 0;
}

.navbar-inner .nav-collapse {
    width: 100%;
}

.navbar .nav {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.navbar .btn {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    width: 100%;
    background: #08c;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 10px;
}

.navbar .btn-navbar:hover,
.navbar .btn-navbar:focus,
.navbar .btn-navbar:active {
    color: white;
    background: #08d;
}

.navbar .nav > li > a {
    border-bottom: 5px solid transparent;
    transition: color .3s ease-in-out, border-bottom .3s ease-in-out;
}

.navbar .nav > li > a:hover {
    color: #08d;
    border-bottom: 5px solid #08d;
    transition: color .3s ease-in-out, border-bottom .3s ease-in-out;
}

.categories,
.tags {
    margin-top: 1em;
}

.archive-date {
    font-size: 35px;
    color: #444;
    font-weight: 400;
    margin-top: .7em;
    padding-bottom: .3em;
    margin-bottom: .6em;
    border-bottom: 1px solid #ddd;
}

img[alt~=avatar] {
    border-bottom: 1px solid #ededed;
}

@media (max-width: 979px) {
    .navbar .nav {
        display: block;
        text-align: center;
    }
}

@media (min-width: 980px) {
    body {
        padding-bottom: 40px;
    }
}

@media (max-width: 767px) {
    .sidebar {
        padding-top: 30px;
    }
}

@media (max-width: 510px) {
    header .title {
        font-size: 45px;
        margin-top: 30px;
    }

    header .subtitle {
        margin-bottom: 30px;
    }
}

@media (max-width: 450px) {
    img {
        display: block;
        margin: 0 auto;
        width: 100%;
        height: auto;
    }
}